body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(36, 37, 83);
    color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
  }
  
 
  .wrong-letters h3 {
    width: 100%;
    align-self: center;
    justify-content: center;
    display: flex;
  }

.cavaleiro h1{
  width: 100%;
  align-self: center;
  justify-content: center;
  display: flex;
}


  .wrong-letters {
    font-size: 32px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #imagem {
    width: 30%;
  }
  
  .display-none {
    display: none;
  }
  .wrong-letters span {
   
    margin: 5px;
    display: flex;
    align-items: center;
    border: 2px dotted white;    
    padding: 5px;
    justify-content: center;
    letter-spacing: 10px;
    
  }
  
  .secret-word-container {
    font-size: 45px;
  }

  #end-game-message {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  
  .secret-word-container span {
    margin: 0 5px;
  }
  
  